
@{
    ViewBag.Title = "InvalidUrl";
}

<center>
    <div style="margin-bottom:120px" class="w-75 mt-4 alert alert-danger" role="alert">

        <img style="height:100px;width:100px" src="~/Content/Images/GIFS/alert.gif" alt="alert" />
        <h4 class="alert-heading mt-2 mb-0">Please enter valid URL in address bar</h4>
        <p></p>
    </div>
</center>