body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* .container {
  margin-top: 50px
} */

.box1 img,
.box1:after,
.box1:before {
    width: 100%;
    transition: all .3s ease 0s
}


.box1 .icon,
.box2,
.box3,
.box4,
.box5 .icon li a {
    text-align: center
}

    .box10:after,
    .box10:before,
    .box1:after,
    .box1:before,
    .box2 .inner-content:after,
    .box3:after,
    .box3:before,
    .box4:before,
    .box5:after,
    .box5:before,
    .box6:after,
    .box7:after,
    .box7:before {
        content: ""
    }

.box1,
.box11,
.box12,
.box13,
.box14,
.box16,
.box17,
.box18,
.box2,
.box20,
.box21,
.box3,
.box4,
.box5,
.box5 .icon li a,
.box6,
.box7,
.box8 {
    overflow: hidden
}

    .box1 .title,
    .box10 .title,
    .box4 .title,
    .box7 .title {
        letter-spacing: 1px
    }

    .box3 .post,
    .box4 .post,
    .box5 .post,
    .box7 .post {
        font-style: italic
    }

body {
    background-color: #f1f1f2;
}

.mt-30 {
    margin-top: 20px
}

.mt-40 {
    margin-top: 20px
}

.mb-30 {
    margin-bottom: 20px
}

.box1 .icon,
.box1 .title {
    margin: 0;
    position: absolute
}

.box1 {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 10px;
}


.box2 {
    box-shadow: 10px 10px 3px rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 10px;
}


.box1:after,
.box1:before {
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: 100% 0;
    transform: rotateZ(90deg)
}

.box1:after {
    top: auto;
    bottom: 0;
    transform-origin: 0 100%
}

.box1:hover:after,
.box1:hover:before {
    transform: rotateZ(0)
}

#showMe {
    animation: cssAnimation 0s 0.5s forwards;
    visibility: hidden;
}

@keyframes cssAnimation {
    to {
        visibility: visible;
    }
}

.box1 img {
    object-fit: cover;
    transform: scale(1) rotate(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1:hover img {
    transform: scale(1.3) rotate(10deg)
}

.box1 .title {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 1px #004cbf;
    bottom: 0px;
    left: 10px;
    right: 10px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transition: all .5s ease .2s
}

.box1:hover .title {
    opacity: 1;
    transform: scale(1)
}

.control-label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.box1 .icon {
    padding: 7px 5px;
    list-style: none;
    background: #004cbf;
    border-radius: 0 0 0 10px;
    top: -100%;
    right: 0;
    z-index: 2;
    transition: all .3s ease .2s
}

.box1:hover .icon {
    top: 0
}

.box1 .icon li {
    display: block;
    margin: 10px 0
}

    .box1 .icon li a {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        transition: all .3s ease 0s
    }

.box2 .icon li a,
.box3 .icon a:hover,
.box4 .icon li a:hover,
.box5 .icon li a,
.box6 .icon li a {
    border-radius: 50%
}

.box1 .icon li a:hover {
    color: #fff;
    box-shadow: 0 0 10px #000 inset, 0 0 0 3px #fff
}

@media only screen and (max-width:990px) {
    .box1 {
        margin-bottom: 0px
    }
}


.btn-group-sm > .btn,
.btn-sm {
    padding: 0.03rem 0.2rem !important;
    font-size: 0.775rem !important;
    border-radius: 0.2rem !important;
}

.h63 {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    color: white !important;
    background: #000;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 8px 8px 0px 0px;
}

.h61 {
    font-size: 10px !important;
    margin-bottom: 0px !important;
    color: white !important;
    background: #000;
    padding: 4px;
    border-radius: 0px 0px 10px 10px;
    opacity: 70%;
}

.h62 {
    font-size: smaller !important;
    margin-bottom: 0px !important;
    color: white !important;
    background: #000;
    padding: 4px;
    border-radius: 10px 10px 0px 0px;
    opacity: 70%;
}


.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    border-color: #0a58ca;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 4px solid grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}


/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    min-height: 100vh;
}

    body::-webkit-scrollbar {
        display: none;
    }

.wrapper {
    max-width: 1100px !important;
    margin: 30px 30px;
    padding: 30px 45px;
    box-shadow: 5px 15px 15px #3535356b;
    margin-left: auto !important;
    margin-right: auto !important;
}

    .wrapper label {
        display: block;
        padding-bottom: 0.2rem;
    }

    .wrapper .form .row {
        padding: 0.6rem 0;
    }

        .wrapper .form .row .form-control {
            box-shadow: none;
        }

    .wrapper .form .option {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
    }


        .wrapper .form .option input {
            opacity: 0;
        }

    .wrapper .form .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #bbb;
        border-radius: 50%;
    }

    .wrapper .form .option input:checked ~ .checkmark:after {
        display: block;
    }

    .wrapper .form .option:hover .checkmark {
        background: #f3f3f3;
    }

    .wrapper .form .option .checkmark:after {
        content: "";
        width: 10px;
        height: 10px;
        display: block;
        background: #0d6efd;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 100ms ease-in-out 0s;
    }

    .wrapper .form .option input[type="radio"]:checked ~ .checkmark {
        background: #fff;
        transition: 100ms ease-in-out 0s;
    }

        .wrapper .form .option input[type="radio"]:checked ~ .checkmark:after {
            transform: translate(-50%, -50%) scale(1);
        }

#sub {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 5px;
    color: #333;
}

    #sub:focus {
        outline: none;
    }

@media(max-width: 768.5px) {
    .wrapper {
        margin: 30px;
    }

        .wrapper .form .row {
            padding: 0;
        }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 25px;
        margin: 20px;
    }
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


.img-fluid {
    max-width: 60% !important;
    height: auto !important;
    border-radius: 2%;
}

body {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
}

footer {
    margin-top: auto !important;
}

/* 
hr{
  margin-left: 5rem;
  margin-right: 5rem;

} */

link-secondary:focus {
    color: #393780 !important;
}

.link-secondary {
    color: #393780 !important;
    text-decoration: none;
}

p {
    margin-bottom: 0rem !important;
}

.card-body {
    flex: 1 1 auto !important;
    padding: 1rem 1rem !important;
    text-align: justify !important;
}


.top-photo {
    border: 1px solid #000000;
    padding: 0;
    margin: 0;
    z-index: -110;
}

    .top-photo img {
        width: 100%;
        max-height: 500px;
    }

    .top-photo h3 {
        position: absolute;
        margin-left: 50%;
        margin-top: -15%;
        color: #E0E0E0;
        font-weight: 800;
        font-size: 48px;
        font-family: 'Saira', sans-serif;
    }

    .top-photo h5 {
        position: absolute;
        margin-left: 53%;
        margin-top: -8%;
        color: #E0E0E0;
        font-weight: 800;
        font-size: 24px;
        font-family: 'Saira', sans-serif;
    }

.user img {
    max-height: 300px;
    max-width: 300px;
    position: relative;
    margin-left: 10%;
    margin-top: -18%;
    border: 2px solid #ffffff;
}

.about {
    margin: 0;
    padding: 0
}

    .about h3 {
        position: relative;
        margin-top: 40px;
        font-size: 26px;
        font-weight: 700;
        color: #000000;
        font-family: 'Saira', sans-serif;
    }

    .about i {
        color: #C62828;
    }

.about-in button {
    margin-top: 30px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    margin-top: 20px;
}

.about-in a {
    font-weight: bold;
}

.details-left h3 {
    margin-top: -40px;
}

.details-left li {
    font-weight: bold;
}

ul {
    list-style: none;
}


.details-right {
    margin-left: -20px;
}

ul li:nth-child(4) {
    color: #C62828;
    font-weight: bold;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

#social {
    margin: 40px 10px;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}

/* facebook button class*/
.facebookBtn {
    background: #BDBDBD;
}

    .facebookBtn:before { /* use :before to add the relevant icons */
        font-family: "FontAwesome";
        content: "\f09a"; /* add facebook icon */
    }

    .facebookBtn:hover {
        color: #4060A5;
        background: #fff;
        border-color: #4060A5; /* change the border color on mouse hover */
    }

/* twitter button class*/
.twitterBtn {
    background: #BDBDBD;
}

    .twitterBtn:before {
        font-family: "FontAwesome";
        content: "\f099"; /* add twitter icon */
    }

    .twitterBtn:hover {
        color: #00ABE3;
        background: #fff;
        border-color: #00ABE3;
    }

/* google plus button class*/
.googleplusBtn {
    background: #BDBDBD;
}

    .googleplusBtn:before {
        font-family: "FontAwesome";
        content: "\f0d5"; /* add googleplus icon */
    }

    .googleplusBtn:hover {
        color: #e64522;
        background: #fff;
        border-color: #e64522;
    }

/* linkedin button class*/
.linkedinBtn {
    background: #BDBDBD;
}

    .linkedinBtn:before {
        font-family: "FontAwesome";
        content: "\f0e1"; /* add linkedin icon */
    }

    .linkedinBtn:hover {
        color: #0094BC;
        background: #fff;
        border-color: #0094BC;
    }

/* pinterest button class*/
.pinterestBtn {
    background: #BDBDBD;
}

    .pinterestBtn:before {
        font-family: "FontAwesome";
        content: "\f0d2"; /* add pinterest icon */
    }

    .pinterestBtn:hover {
        color: #cb2027;
        background: #fff;
        border-color: #cb2027;
    }

/* tumblr button class*/
.tumblrBtn {
    background: #BDBDBD;
}

    .tumblrBtn:before {
        font-family: "FontAwesome";
        content: "\f173"; /* add tumblr icon */
    }

    .tumblrBtn:hover {
        color: #3a5876;
        background: #fff;
        border-color: #3a5876;
    }

/* rss button class*/
.rssBtn {
    background: #BDBDBD;
}

    .rssBtn:before {
        font-family: "FontAwesome";
        content: "\f09e"; /* add rss icon */
    }

    .rssBtn:hover {
        color: #e88845;
        background: #fff;
        border-color: #e88845;
    }




/* responsive */
@media (min-width:360px) and (max-width:768px) {

    .user img {
        max-height: 150px;
        max-width: 150px;
    }

    .top-photo h3 {
        font-size: 16px;
    }

    .top-photo h5 {
        font-size: 16px;
        margin-left: 55%;
    }

    .btn-outline {
        margin-bottom: 60px;
    }
}

.bg1 {
    background-color: #ededed;
    border-radius: 2%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    border-color: #e7e7e7;
    margin: 1px;
}

.bg2 {
    background-color: #f7f7f7;
    border-radius: 2%;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 1px;
}

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

    .my-form .row {
        margin-left: 0;
        margin-right: 0;
    }

.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 30px;
}

    .login-form .row {
        margin-left: 0;
        margin-right: 0;
    }