@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <div style="margin-bottom:120px" class="w-75 mt-4 alert alert-danger" role="alert">

        <img style="height:100px;width:100px" src="~/Content/Images/GIFS/alert.gif" alt="alert" />
        <h4>@ViewData["exception_message"]</h4>
        <h4 class="alert-heading mt-2 mb-0">An error occurred while processing your request.</h4>
        <p></p>
        
    </div>
</center>

