@{
    ViewBag.Title = "About";
    Layout = null;
}

<div class="alert">
    @ViewBag.exception_message
</div>
<div class="alert">
    @ViewBag.stack_trace
</div>

<p>Use this area to provide additional information.</p>
